* {
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar-rest {
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #f8f8f8; /* Add background color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: add shadow */
}

.logo {
    height: 100%;
}

.logo img {
    height: 100%;
    width: auto;
}

.navbar-center {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 30px;
}

.navbar-rest a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.startcamp {
    background-color: rgb(123, 3, 3);
    color: white !important;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.contact-us {
    text-align: center;
    margin-top: 50px;
}

.form-container-title h1 {
    font-size: 2.5rem;
}

.form-container-title hr {
    width: 55%;
    margin: 20px auto;
}

.form-container {
    width: 800px;
    border-radius: 15px;
    padding: 20px;
    margin: 20px auto;
    font-size: 18px;
}

table {
    width: 100%;
}

th, td {
    padding: 10px;
}

input, textarea {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

textarea {
    height: 200px;
    resize: none;
}

button {
    background-color: rgb(255, 162, 0);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(230, 140, 0);
}

@media (max-width: 768px) {
    .navbar-center, .navbar-right {
        flex-direction: column;
        gap: 10px;
    }

    .navbar-rest {
        flex-direction: column;
        align-items: flex-start;
    }

    .form-container {
        width: 90%;
        margin: 20px auto;
    }

    .form-container-title h1 {
        font-size: 2rem;
    }
}

.navbar-bottom {
    font-size: 12px;
    color: rgb(255, 255, 255);
    line-height: 1.9;
    margin-top: 40px;
    background-color: #000000;
    padding: 20px;
    display: flex; 
    gap:10%;
    justify-content: center;
    align-items: center;
}

.navbar-container-content{
    width: 700px;  
}

.navbar-bottom-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navbar-bottom-container a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
